/* Simple version (version 1) */

.container {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 30px;
}

.card {
    background-color: #F5F3F4;
    margin-top: 10%;
    padding: 5%;
    padding-bottom: 100px;
    box-shadow: 5px 10px #D3D3D3;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
}

textarea {
    text-align: center;
    font-size: 1.5em;
}

#password {
    height: 100px;
    width: 50%;
    border: solid 1px;  
}

#generate {
    cursor: pointer;
    background-color: #538D22;
    margin: 20px;
    padding: 5px;
    border-color: transparent;
    color: white;
}
